/* Custom Properties */

:root {
    --color-light: hsl(0, 0%, 100%);
    --color-regular: hsl(212, 45%, 89%);
    --color-medium: hsl(220, 15%, 55%);
    --color-dark: hsl(218, 44%, 22%);
}

/* General Styles */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-regular);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

main {
    background-color: var(--color-light);
    width: min(300px, 100%);
    padding: 1rem;
    margin-inline: auto;
    border-radius: 20px;
}

.text {
    margin: 1.5rem 0.5rem;
    text-align: center;
}

.text > h1 {
    color: var(--color-dark);
    font-size: 1.3rem;
}

.text > p {
    color: var(--color-medium);
    font-size: 0.9375rem;
}

footer { 
    font-size: 0.8rem; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    margin-top: 2rem;
}
